<h1>
  <%= t('listing', name: t('contact.title', count: 1)) %>
</h1>

<div class="card">
  <%= image_tag(@contact.avatar_url, class: 'card-img-top') if @contact.avatar? %>

  <div class="card-body">
    <h5 class="card-title">
      <%= @contact.name %>
    </h5>
    <p>
      <%= @contact.birthday %>
    </p>
    
    <%= link_to t('edit'), edit_contact_path(@contact), class: 'btn btn-primary', role: :button %>
    <%= link_to t('index'), contacts_path, class: 'btn btn-outline-secondary', role: :button %>
  </div>
</div>
